footer.c-footer
	div.container
		div.row
			div.col-md-6.col-sm-12
				h2 About
				hr
				div.column-content
					p I'm a designer and developer living on the East Coast&ndash;currently freelancing on projects for businesses around the nation.
					p I'm mostly self-taught, but I do have a BS in Computer Information Systems and CoA in Graphic Communications. Both of these credentials make me scrutinize pixels and the inner workings of web frameworks.
					p I used to "jump from perfectly good airplanes" (I miss jumping from Sherpas), occasionally do some woodwork, and love tinkering with TSI engines.
					p(style="margin-top: 2rem")
						a.btn.btn-dark(:href="app_conf.resume_link") <i class="fas fa-file-download"></i> Resume
			div.col-md-6.col-sm-12
				h2 Connect
				hr
				div.column-content
					a.icon(href="https://github.com/crookse/", target="_BLANK") <i class="fab fa-github"></i>
					a.icon(href="https://www.linkedin.com/in/eric-crooks-953bb0a2/", target="_BLANK") <i class="fab fa-linkedin"></i>
					a.icon(href="https://medium.com/@crookse", target="_BLANK") <i class="fab fa-medium"></i>
					a.icon(href="https://www.instagram.com/crookse_/", target="_BLANK") <i class="fab fa-instagram"></i>
					a.icon(href="mailto:eric.crooks@gmail.com") <i class="fas fa-envelope"></i>
		hr
		div.row(style="margin-top: 2rem; font-size: 1rem")
			div.col
				div.column-content
					p.text--help Made with <a class="crookse-node" href="https://github.com/crookse/crookse-node" target="_BLANK">crookse.Node</a>.
