extends extendable.portfolio.pug

block main
	div.c-slide.c-slide-about-work
		div.container
			div.row
				div.col
					h2.c-heading.c-heading--style-2 Brier Creek Fellowship
			div.row
				div.col
					p I redesigned Brier Creek Fellowship's website to help promote their church and grow their family in the Raleigh area through SEO optimization, responsive web development, and a custom WordPress theme. The site is now primarily managed by the head pastor, but I do have a static copy of the home page for viewing (click button below).
					a.btn.btn-primary(href="http://brier-creek-fellowship-static.crookse.com/" target="_BLANK") View Static
	include slide.work-samples.pug
