extends extendable.portfolio.pug

block main
	div.c-slide.c-slide-about-work
		div.container
			div.row
				div.col
					h2.c-heading.c-heading--style-2 Payoneer Escrow
			div.row
				div.col
					p Payoneer Escrow is a B2B payments service that offers secure, risk-free transactions for buyers and sellers around the world.
					p All of my time at Payoneer was spent as a team member and front-end expert on the Payoneer Escrow team. Some of my UI/UX accomplishments include:
					ul
						li Enabled cross-browser/device compatibility for the web app (including Internet Explorer)
						li Enabled cross-browser/device compatibility for emails
						li Redesigned flows (e.g., order creation and user registration)
					p While each team member had their technical strengths and assigned tasks, each team member learned and performed full-stack development. Team cohesiveness, pair programming, and open discussions are among the many techniques and tendencies that were practiced daily.
	include slide.work-samples.pug
