div#slide__contact.c-slide.c-slide-work-together(:style="'background-image: url(' + app_conf.base_url + '/public/assets/img/map-04.jpg'")
	div.container
		div.row
			div.col
				h2.c-heading.c-heading--style-2 Contact
				div.column-content
					h3 Want to work together?
					p I take on many different projects (e.g., LAMP projects, Node.js projects, front-end framework projects, .NET projects). If you're interested in working together, then hit me up! Let's discuss how we can make your idea a reality.
					div(style="margin-top: 2rem")
						a.btn.btn-dark(href="mailto:eric.crooks@gmail.com", style="font-size: 1.2rem") Let's get started
