div#slide__projects.c-slide.c-slide-projects
	div.container
		div.row
			div.col
				h2.c-heading.c-heading--style-2 Projects
		div.row
			div.col-md-4.col-sm-12
				div.card
					div.card-header
						i.fab.fa-node-js
					div.card-body
						h4 crookse.Node
						p.card-text Node.js library/framework that simplifies HTTP resource creation, API endpoint routing, and error handling.
					div.card-footer
						a.btn.btn-info.btn-block(href="/projects/crookse-node") Documentation
						a.btn.btn-info.btn-block(href="https://github.com/crookse/crookse-node", target="_BLANK") View on GitHub
				div.card
					div.card-header
						i.fas.fa-box-open
					div.card-body
						h4 Payoneer Escrow C#.NET SDK
						p.card-text A clean, idiomatic client for the Payoneer Escrow API.
					div.card-footer
						a.btn.btn-info.btn-block(href="https://github.com/Payoneer-Escrow/payoneer-escrow-csharp-dotnet", target="_BLANK") View on GitHub
			div.col-md-4.col-sm-12
				div.card
					div.card-header
						i.fas.fa-snowflake
					div.card-body
						h4 Frozenv
						p.card-text Node.js library that helps you set read-only environment variables under a specific namespace.
					div.card-footer
						a.btn.btn-info.btn-block(href="https://github.com/crookse/frozenv", target="_BLANK") View on GitHub
				div.card
					div.card-header
						i.fas.fa-terminal
					div.card-body
						h4 vim-crookse
						p.card-text Add vim-crookse to your Vim environment to easily change colors and ensure consistent syntax highlighting across languages.
					div.card-footer
						a.btn.btn-info.btn-block(href="https://github.com/crookse/vim-crookse", target="_BLANK") View on GitHub
			div.col-md-4.col-sm-12
				div.card
					div.card-header
						i.fas.fa-broadcast-tower
					div.card-body
						h4 Cross-Domain Communication:
							| <br>Parent window and child iframe
						p.card-text Learn how to enable cross-domain communication by allowing a child iframe to send data to its parent window regardless of origin/domain name.
					div.card-footer
						a.btn.btn-info.btn-block(href="http://cdc-project.crookse.com/", target="_BLANK") Launch
						a.btn.btn-info.btn-block(href="https://github.com/crookse/cdc-parent-window-child-iframe", target="_BLANK") View on GitHub
				div.card
					div.card-header
						i.fas.fa-terminal
					div.card-body
						h4 tmux-theme
						p.card-text An ongoing effort to make the tmux environment fancy.
					div.card-footer
						a.btn.btn-info.btn-block(href="https://github.com/crookse/tmux-theme", target="_BLANK") View on GitHub
