div#slide__projects.c-slide.c-slide-projects
	div.container
		div.row
			div.col
				h2.c-heading.c-heading--style-2 Projects
		div.row
			div.col-md-4.col-sm-12
				div.card
					div.card-header
						h4.margin-bottom--0 Drash
					div.card-body
						p.card-text Drash is a modular web framework for <a href="https://deno.land" target="_BLANK">Deno</a> based on <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Identifying_resources_on_the_Web" target="_BLANK">HTTP resources</a> and <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation" target="_BLANK">content negotiation</a>.
						img.margin-bottom--0(style="margin-right: 10px;" src="https://img.shields.io/github/release/crookse/deno-drash.svg?color=green") 
						img.margin-bottom--0(alt="Travis (.org)" src="https://img.shields.io/travis/crookse/deno-drash.svg?color=green")
					div.card-footer
						a.btn.btn-info.btn-block(href="/projects/deno-drash") View Documentation (WIP)
						a.btn.btn-info.btn-block(href="https://github.com/crookse/deno-drash", target="_BLANK") View GitHub Repository
			div.col-md-4.col-sm-12
				div.card
					div.card-header
						h4.margin-bottom--0 crookse.Node
					div.card-body
						p.card-text Node.js library/framework that simplifies HTTP resource creation, API endpoint routing, and error handling.
						img.margin-bottom--0(style="margin-right: 10px;" src="https://img.shields.io/github/release/crookse/crookse-node.svg?color=green") 
						img.margin-bottom--0(alt="Travis (.org)" src="https://img.shields.io/travis/crookse/crookse-node.svg?color=green")
					div.card-footer
						a.btn.btn-info.btn-block(href="/projects/crookse-node") View Documentation
						a.btn.btn-info.btn-block(href="https://github.com/crookse/crookse-node", target="_BLANK") View GitHub Repository
			div.col-md-4.col-sm-12
				div.card
					div.card-header
						h4.margin-bottom--0 Frozenv
					div.card-body
						p.card-text Node.js library that helps you set read-only environment variables under a specific namespace.
						img.margin-bottom--0(style="margin-right: 10p;" src="https://img.shields.io/github/release/crookse/frozenv.svg?color=green")
					div.card-footer
						a.btn.btn-info.btn-block(href="https://github.com/crookse/frozenv#documentation", target="_BLANK") View Documentation
						a.btn.btn-info.btn-block(href="https://github.com/crookse/frozenv", target="_BLANK") View GitHub Repository
			div.col-md-4.col-sm-12
				div.card
					div.card-header
						h4.margin-bottom--0 Cross-Domain Communication:
							| <br>Parent window and child iframe
					div.card-body
						p.card-text Learn how to enable cross-domain communication by allowing a child iframe to send data to its parent window regardless of origin/domain name.
					div.card-footer
						a.btn.btn-info.btn-block(href="http://cdc-project.crookse.com/", target="_BLANK") Launch
						a.btn.btn-info.btn-block(href="https://github.com/crookse/cdc-parent-window-child-iframe", target="_BLANK") View GitHub Repository
			div.col-md-4.col-sm-12
				div.card
					div.card-header
						h4.margin-bottom--0 Payoneer Escrow C#.NET SDK
					div.card-body
						p.card-text A clean, idiomatic client for the Payoneer Escrow API.
					div.card-footer
						a.btn.btn-info.btn-block(href="https://github.com/Payoneer-Escrow/payoneer-escrow-csharp-dotnet", target="_BLANK") View GitHub Repository
			div.col-md-4.col-sm-12
				div.card
					div.card-header
						h4.margin-bottom--0 vim-crookse
					div.card-body
						p.card-text Add vim-crookse to your Vim environment to easily change colors and ensure consistent syntax highlighting across languages.
					div.card-footer
						a.btn.btn-info.btn-block(href="https://github.com/crookse/vim-crookse", target="_BLANK") View GitHub Repository
			div.col-md-4.col-sm-12
				div.card
					div.card-header
						h4.margin-bottom--0 tmux-theme
					div.card-body
						p.card-text An ongoing effort to make the tmux environment fancy.
					div.card-footer
						a.btn.btn-info.btn-block(href="https://github.com/crookse/tmux-theme", target="_BLANK") View GitHub Repository
