div.c-slide.c-slide-eric-summary
	div.container
		div.row.text-align--center
			div.col
				h2 Front-end developer. Node.js. LAMP.
				p
					button.btn.btn-primary.btn-lg Let's work together
//- p Hello! I'm Eric Crooks, a software engineer with extensive experience in the full stack of modern web application development.
//- p I used to call myself a self-taught developer, but now that I have my BS in Computer Information Systems, calling myself a self-taught developer would only be partially true. However, I did learn the craft by viewing source code like most self-taughts out there. Those were the good days–the days when Adobe Dreamweaver ruled the lands and being able to code Flash sites made you a god.
//- p Aside from programming, I have a background in graphic design and am very passionate about making front-ends look beautiful and appreciated. I like taking mockups and coding pixel-perfect front-ends, but I like taking the reins by myself more. That gives me the chance to prove my UX and UI skills. When that happens, I go by Steve Jobs' quote: "A lot of times, people don't know what they want until you show it to them."
