////////////////////////////////////////////////////////////////////////////////////////////////////
// NOTES ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
//
// z-indexes
//
// Element                 z-index     Remarks
// .c-header .top-bar      100         Top navigation
// .c-header:before        0           Header background overlay
//
// TODO:
//
// [ ] Change underscores to hypens in Sass variables.
//

////////////////////////////////////////////////////////////////////////////////////////////////////
// FUNCTIONS AND MIXINS ////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

@function rem($number) {
    @return 0.725 * ($number) + rem; // (10px)
}

@mixin p__global_border_radius {
    border-radius: $g_border_radius;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// PRE-BASE ////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
//
// This needs to be defined here so that the rems can be calculated correctly for the variables.
//

html,
:root {
    font-size: 15px;
    @media (max-width: 480px) {
        font-size: rem(1);
    }
}

$g-body-font-size: rem(1.5);

body {
    font-size: $g-body-font-size;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// VARIABLES ///////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

$g_max_width_container_main: 1200px;
$g_height_logo_container: 60px;
$g_margin_bottom: rem(2);
$g_border_radius: 0;
$g_border_radius_for_buttons: rem(0);
$g_padding_for_buttons: rem(1.20) rem(2.25);

// Colors > Definitions
$g_color_border: rgba(0,0,0,.1);
$g_color_bootstrap_info: #17a2b8;
$g_color_bootstrap_success: #28a745;
$g-color-that-red: #e40002;
$g_color_that_red: #e40002;
$g_color_text_help: #999999;
$g-color-ainc-orange: #ff7700;
$g-color-that-aqua: #2f8990;

//
// Measurements
//
$g-width-bootstrap-container: 1200px;
$g-border-radius-pre-code: rem(0.25);

//
// Controllable Settings
//
$g-colorset-links: $g-color-ainc-orange;
$config-color-function-parameter: $g-color-ainc-orange;

////////////////////////////////////////////////////////////////////////////////////////////////////
// PARTIALS ////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Partials are ordered in ITCSS order.
//

@import 'base';
@import 'components.buttons';
@import 'components.clickables';
@import 'components.code';
@import 'components.footer';
@import 'components.header';
@import 'components.headings';
@import 'components.links';
@import 'components.lists';
@import 'components.logo';
@import 'components.misc';
@import 'components.slides';
@import "trumps.bootstrap";
@import "trumps";
